fs.file-max = {{ fs_file_max }}
kernel.sem = {{ kernel_sem }}
kernel.shmmni = {{ kernel_shmmni }}
kernel.shmall = {{ kernel_shmall }}
kernel.shmmax = {{ kernel_shmmax }}
net.ipv4.tcp_keepalive_intvl = {{ net_ipv4_tcp_keepalive_intvl }}
net.ipv4.tcp_keepalive_probes = {{ net_ipv4_tcp_keepalive_probes }}
net.ipv4.tcp_keepalive_time = {{ net_ipv4_tcp_keepalive_time }}
